/* Algemene stijlen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left
}

/* Header-stijlen */
header {
    background-color: #743636;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

/* Navigatie-stijlen */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #cb9bdf;
    padding: 15px 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
.introductie{
    width: 200px;
}
/* Sectie-stijlen */
section {
    
    padding: 50px 0;
    text-align: center;
}

/* Project-stijlen */
.project {
    margin: 20px;
}

.project img {
    max-width: 100%;
}

/* Footer-stijlen */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

