/* Resetten van standaardmarges en -paddings */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
 /* Algemene stijl voor de body inclusief achtergrondafbeelding */
body {
    font-family: Arial, sans-serif;
    background-image: url('Picture.png'); /* Voeg hier het pad naar je achtergrondafbeelding toe */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  /* ... (rest van je CSS-stijlen blijven hetzelfde) */
  
  /* Stijl voor de navigatiebalk */
 
  /* ... (andere CSS-stijlen hier) */

/* Stijl voor de navigatiebalk */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between; /* Plaatst de elementen aan de uiteinden van de balk */
    align-items: center;
    padding: 10px 20px; /* Marge en vulling instellen zoals gewenst */
  }
  
  .nav-left p {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }
  
  .nav-right {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-right li {
    display: inline;
    margin-left: 20px; /* Voegt een ruimte tussen de paginalinks toe */
  }
  
  .nav-right a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Mediaquery voor mobielresponsiviteit */
  @media screen and (max-width: 768px) {
    .nav-right {
      display: block; /* Verander naar gestapelde weergave voor mobiele apparaten */
    }
  
    .nav-right li {
      display: block;
      margin: 10px 0;
    }
  }
  /* Stijl voor de header */
  header {
    background-color: #0078d4;
    color: #fff;
    text-align: center;
    padding: 40px 0;
  }
  
  /* Stijl voor de hoofdtekst */
  .text {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
  }
  
  /* Stijl voor de footer */
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
  }
  
  /* Mediaquery voor mobielresponsiviteit */
  @media screen and (max-width: 768px) {
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  }
  
