body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* Achtergrondafbeelding instellen */
  body {
    background-image: url('achtergrondfoto.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Hierdoor blijft de achtergrondafbeelding stationair terwijl je scrollt */
    font-family: Arial, sans-serif; /* Kies een gewenst lettertype */
    color: #fff; /* Tekstkleur op wit */
  }
  
  /* Inhoudscontainer */
  .container {
    max-width: 800px; /* Beperk de maximale breedte van de inhoudscontainer */
    margin: 0 auto; /* Centreer de container op de pagina */
    padding: 20px; /* Voeg wat ruimte rond de inhoud toe */
    background-color: rgba(0, 0, 0, 0.7); /* Achtergrondkleur met een lichte transparantie */
  }
  
  /* Stijl voor koppen */
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Stijl voor paragrafen */
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Voeg wat stijl toe aan links */
  a {
    color: #ffffff; /* Kies een gewenste linkkleur */
    text-decoration: none;
    transition: color 0.3s; /* Voeg een overgang toe voor de linkkleur */
  }
  
  a:hover {
    color: #efff15; /* Kleurverandering bij hover */
  }
